:root {
  --primaryColor: hsl(172, 67%, 45%);
  --veryDarkCyan: hsl(183, 100%, 15%);
  --darkGrayishCyan: hsl(186, 14%, 43%);
  --grayishCyan: hsl(184, 14%, 56%);
  --lightGrayishCyan: hsl(185, 41%, 84%);
  --veryLightGrayishCyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --detailsColor: #e57c23;
  --xs: 1.2rem;
  --sm: 1.4rem;
  --md: 1.8rem;
  --lg: 2rem;
  --xl: 2.5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--veryLightGrayishCyan);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

/**** aux class ****/

@keyframes fade-out {
  100% {
    opacity: 0;
    display: none;
  }
}

.hidden {
  animation: fade-out 0.5s forwards;
}

.shadow {
  box-shadow: -1px 5px 15px 6px rgba(0, 0, 0, 0.33);
}

h1 {
  font-size: var(--xl);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--veryDarkCyan);
}
/**** card lottery ****/
.main-container {
  position: relative;
}
.gallery {
  display: grid;
  gap: 1.5rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  height: auto;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.card-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: auto;
  background-color: var(--grayishCyan);
  border-radius: 5px;
  padding: 50px 20px 20px;
}

.lottery-price {
  position: absolute;
  display: inline;
  top: -30px;
  right: calc(50% - 35px);
  padding: 15px 10px;
  border-radius: 50px;
  font-size: var(--lg);
  color: var(--veryDarkCyan);
  border: 5px solid var(--darkGrayishCyan);
  border: 5px solid var(--veryDarkCyan);
  background-color: var(--detailsColor);
}
.lottery-number {
  font-size: var(--xl);
  font-weight: 700;
  color: var(--veryDarkCyan);
}

.lottery-name {
  font-size: var(--md);
  font-weight: 700;
  color: var(--veryDarkCyan);
}
details {
  cursor: pointer;
}

/**** form ****/
.form-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 87vh;
  padding: 40px;
  border-radius: 20px 20px 0 0;
  background-color: var(--veryDarkCyan);
  opacity: 1;
}

form {
  margin: 0 auto;
  width: 100%;
  padding: 40px 20px;
  max-width: 300px;
  border-radius: 10px;
  background-color: var(--veryLightGrayishCyan);
  box-shadow: -1px 5px 15px 6px rgba(0, 0, 0, 0.33);
}
.input-group {
  position: relative;
  margin-bottom: 35px;
}
.input-group:last-child {
  margin-bottom: 0;
}
.input {
  width: 100%;
  padding: 12px;
  max-width: 300px;
  outline: none;
  border: 1px solid var(--detailsColor);
  background-color: var(--veryLightGrayishCyan);
}
.placeholder {
  position: absolute;
  top: 10px;
  left: 8px;
  padding: 0 5px;
  color: var(--veryDarkCyan);
  font-size: var(--sm);
  transform: 0.3s;
  pointer-events: none;
}
.input:focus + .placeholder {
  top: -10px;
  background-color: var(--veryLightGrayishCyan);
}
.button {
  width: 100%;
  max-width: 300px;
  height: 50px;
  border-radius: 5px;
  border: none;
  color: var(--veryLightGrayishCyan);
  background-color: var(--detailsColor);
  font-size: var(--xl);
}

.button-round {
  position: absolute;
  right: 2%;
  bottom: 2%;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  z-index: 1;
}
