:root {
  --bgLight: #abd1c6;
  --bgDark: #078080;
  --accentColor: #ff8e3c;
  --accentColor2: #e16162;
  --cream: #fff5e1;
  --almostWhite: #f8f8f8;
  --white: hsl(0, 0%, 100%);
  --black: #1a2e35;
  --lightGray: #f3f3f3;
  --xs: 1.2rem;
  --sm: 1.4rem;
  --md: 1.8rem;
  --lg: 2rem;
  --xl: 2.5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--bgLight);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

/**** aux class ****/

@keyframes fade-out {
  100% {
    opacity: 0;
    display: none;
  }
}

.hidden {
  animation: fade-out 0.5s forwards;
}

.shadow {
  box-shadow: -1px 5px 15px 6px rgba(0, 0, 0, 0.33);
}

h1 {
  font-size: var(--xl);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--cream);
}
/**** card lottery ****/
.main-container {
  position: relative;
}
.gallery {
  display: grid;
  gap: 1.5rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  height: auto;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.card-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: auto;
  background-color: var(--bgDark);
  border-radius: 5px;
  padding: 50px 0 0;
}

.lottery-price {
  position: absolute;
  display: inline;
  top: -30px;
  right: calc(50% - 35px);
  padding: 15px 10px;
  border-radius: 50px;
  font-size: var(--lg);
  color: var(--black);

  border: 5px solid var(--bgLight);
  background-color: var(--cream);
}
.lottery-number {
  font-size: var(--xl);
  font-weight: 700;
  color: var(--almostWhite);
}

.lottery-name {
  font-size: var(--md);
  font-weight: 700;
  color: var(--almostWhite);
}
.members-container {
  width: 100%;
  padding: 20px 40px;
  background-color: var(--accentColor2);
}
#members-text {
  color: var(--almostWhite);
  font-size: var(--md);
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  display: block;
}

/**** form ****/
.form-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 87vh;
  padding: 40px;
  border-radius: 20px 20px 0 0;
  background-color: var(--bgDark);
  opacity: 1;
}

form {
  margin: 0 auto;
  width: 100%;
  padding: 40px 20px;
  max-width: 300px;
  border-radius: 10px;
  background-color: var(--lightGray);
  box-shadow: -1px 5px 15px 6px rgba(0, 0, 0, 0.33);
}
.input-group {
  position: relative;
  margin-bottom: 35px;
}
.input-group:last-child {
  margin-bottom: 0;
}
.input {
  width: 100%;
  padding: 12px;
  max-width: 300px;
  outline: none;
  border: 1px solid var(--accentColor);
  background-color: var(--lightGray);
}
.placeholder {
  position: absolute;
  top: 10px;
  left: 8px;
  padding: 0 5px;
  color: var(--black);
  font-size: var(--sm);
  transform: 0.3s;
  pointer-events: none;
}
.input:focus ~ .placeholder,
.input:not(:focus):valid ~ .placeholder {
  top: -10px;
  background-color: var(--lightGray);
}

.button {
  width: 100%;
  max-width: 300px;
  height: 50px;
  border-radius: 5px;
  border: none;
  color: var(--almostWhite);
  background-color: var(--accentColor);
  font-size: var(--xl);
}

.button-round {
  position: absolute;
  right: 2%;
  bottom: 2%;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  z-index: 1;
}
